In [7]:
--FELADAT 1
SELECT szh.TIPUS, ROUND(COUNT(*),-2)
FROM Foglalas f JOIN Szoba sz ON f.SZOBA_FK = sz.SZOBA_ID
                JOIN Szallashely szh ON szh.SZALLAS_ID = sz.SZALLAS_FK
GROUP BY szh.TIPUS
HAVING ROUND(COUNT(*),-2) < 500

TIPUS,(No column name)
Apartman,100
vendégház,100
panzió,200

In [36]:
--FELADAT 2
SELECT CASE 
            WHEN YEAR(v.SZUL_DAT) < 1970 THEN 'idős'
            WHEN  YEAR(v.SZUL_DAT) >=1985 THEN 'fiatal'
            ELSE 'középkorú' 
        END AS 'Kategória', COUNT(*) AS 'Foglalásszám'
FROM Foglalas f JOIN Vendeg v ON f.UGYFEL_FK = v.USERNEV
WHERE (f.FELNOTT_SZAM+f.GYERMEK_SZAM)>=2
GROUP BY CASE 
            WHEN YEAR(v.SZUL_DAT) < 1970 THEN 'idős'
            WHEN  YEAR(v.SZUL_DAT) >=1985 THEN 'fiatal'
            ELSE 'középkorú' 
         END

Kategória,Foglalásszám
fiatal,365
idős,96
középkorú,419